// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

// Required
@import "../../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: whitesmoke;
$body-color: #111111;

// Required
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
// etc

$primary: #0d4b81;
$danger: #ff4136;
$accent: #e0e0ff;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "accent": $accent
);

// Create your own map
$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// body {
//     background-color: $body-bg;
// }


$bg-white: white;

.bg-card {
    background-color: $bg-white;
}

.rounted-0-5{
  border-radius: 0.5rem !important;
}